/*<-----------------------------------3.1 Home_page_content--------------------------------------------->*/

.highlights {
  border-left: none;
  border-right: none;
  &__all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 100%;
    &--item {
      h3 {
        font-family: CormorantGaramond;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 28px;
        color: @bg-footer;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      p {
        font-family: FiraSans;
        font-weight: 500;
        font-size: 14px;
        color: #ababab;
        margin: 0;
      }
    }
  }
}
.banner {
  .title-section {
    margin: 0 auto;
    font-family: CormorantGaramond;
    font-size: 34px;
    width: 45%;
    font-weight: 600;
    padding: 125px 0;
    text-align: center;
  }
  &__around {
    width: 100%;
    display: flex;
    margin: 0 -15px 30px -15px;
    .bn1 {
      width: 25%;
      .bn-pro-info {
        position: absolute;
        bottom: 10%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        .bn-pro-info__name {
          font-size: 24px;
          letter-spacing: 1px;
          line-height: 36px;
          color: @bg-footer;
          font-weight: 400;
          margin: 0;
          font-family: FiraSans;
        }
        .bn-price {
          font-size: 24px;
          letter-spacing: 1px;
          line-height: 36px;
          color: #d6ba8d;
          font-weight: 700;
          font-family: CormorantGaramond;
        }
      }
    }
    .bn2 {
      width: 50%;
    }
    .bn3 {
      width: 25%;
      .bn-ct {
        position: absolute;
        bottom: 20%;
        left: 10%;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        h4 {
          font-size: 14px;
          letter-spacing: 3px;
          line-height: 24px;
          color: #333333;
          font-weight: 400;
          font-family: FiraSans;
          margin: 0;
          text-transform: uppercase;
          padding-bottom:40px;
        }
        h3 {
          font-size: 72px;
          line-height: 47px;
          color: #d6ba8d;
          font-weight: 700;
          margin: 0;
          font-family: CormorantGaramond;
        }
      }
    }
    &--item {
      overflow: hidden;
      padding: 0 15px;
      box-sizing: border-box;
      position: relative;
      .wrap-img {
        overflow: hidden;
      }
      .collap-sale {
        position: absolute;
        top: 10%;
        right: 40px;
        text-align: center;
        padding: 35px 30px 0;
        border: 4px solid #fff;
        .s1 {
          font-size: 18px;
          letter-spacing: 4px;
          margin: 3px -2px 15px 0px;
          font-family: FiraSans;
          font-weight: 400;
          color: @bg-footer;
        }
        .s2 {
          font-size: 100px;
          margin: 0;
          line-height: 1;
          color: #333333;
          font-family: CormorantGaramond;
          font-weight: 700;
          padding-bottom: 5px;
        }
        h3 {
          font-size: 24px;
          line-height: 64px;
          margin: 0;
          font-family: CormorantGaramond;
          font-weight: 700;
          padding-bottom: 24px;
          color: #696969;
        }
        .shop-now {
          font-size: 14px;
          letter-spacing: 3px;
          line-height: 64px;
          font-weight: 700;
          text-transform: uppercase;
          font-family: FiraSans;
          color: #696969;
        }
      }
      .content-bn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 47px;
        width: 260px;
        h3 {
          font-size: 48px;
          line-height: 56px;
          color: @bg-footer;
          font-weight: 700;
          font-family: CormorantGaramond;
          margin: 0;
        }
        p {
          width: 210px;
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 24px;
          margin: 20px 3px;
          color: #696969;
          font-family: FiraSans;
        }
      }
      :hover img {
        transform: scale(1.1);
        transition: 1s;
      }
      img {
        width: 100%;
      }
    }
  }
  &__around2 {
    width: 100%;
    display: flex;
    margin: 0 -15px 40px -15px;
    .bn4 {
      width: 25%;
    }
    .bn6 {
      width: 50%;
    }
    .bn5 {
      width: 25%;
      .bn-pro-info {
        position: absolute;
        bottom: 10%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        .bn-pro-info__name {
          font-size: 24px;
          letter-spacing: 1px;
          line-height: 36px;
          color: @bg-footer;
          font-weight: 400;
          margin: 0;
          font-family: FiraSans;
        }
        .bn-price {
          font-size: 24px;
          letter-spacing: 1px;
          line-height: 36px;
          color: #d6ba8d;
          font-weight: 700;
          font-family: CormorantGaramond;
        }
      }
    }
    &--item {
      overflow: hidden;
      :hover img {
        transform: scale(1.1);
        transition: 1s;
      }
      img {
        width: 100%;
        height: 410px;
      }
    }
  }
}

.product {
  padding-bottom: 100px;
  &__title {
    padding: 0 15px;
    margin-top: 90px;
    position: relative;
    margin-bottom: 80px;
    width: 100%;
    h3 {
      margin: 0;
      font-size: 56px;
      line-height: 28px;
      a {
        font-family: CormorantGaramond;
        font-size: 56px;
        color: @bg-footer;
      }
    }
    .view-more {
      position: absolute;
      text-decoration: none;
      right: 25px;
      bottom: -25px;
      font-family: FiraSans;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 24px;
      margin-bottom: 12px;
      color: @bg-footer;
      font-weight: 600;
      &:hover {
        color: @hv-color;
      }
      i {
        padding-left: 10px;
        color: @hv-color;
      }
    }
  }
  .product__all--item {
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
    line-height: 0;
    cursor: pointer;
    .img-info {
      position: relative;
      .pro-img {
        .back-to-style {
          position: absolute;
          z-index: 999;
          top: 50%;
          left: 0;
          color: #212121;
          opacity: 0;
        }
        .next-to-style {
          position: absolute;
          top: 50%;
          right: 0;
          color: #212121;
          opacity: 0;
        }
      }
      &:hover .next-to-style {
        opacity: 1;
        transition: 0.75s;
      }
      &:hover .back-to-style {
        opacity: 1;
        transition: 0.75s;
      }
      .add-pro {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 100%;
        bottom: -40px;
        transition: all 0.6s ease-in-out;
        opacity: 0;
        ul {
          list-style: none;
          display: flex;
          margin: 0;
          padding: 0;
          width: 40%;
          background: @bg-footer;
          li {
            border: 1px solid #ddd;
            width: 39%;
            text-align: center;
            padding-top: 12px;
            a {
              color: #fff;
            }
          }
        }
        .add-to-cart {
          width: 60%;
          padding: 10px 0;
          background-color: @hv-color;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-size: 15px;
          line-height: 20px;
          font-family: FiraSans;
          font-weight: 600;
        }
      }
    }

    .pro-info {
      text-align: center;
      &__name {
        padding: 10px 0 0;
        margin: 0;
        line-height: 36px;
        font-size: 14px;
        a {
          font-family: FiraSans;
          font-weight: 600;
          font-size: 14px;
          color: @bg-footer;
          letter-spacing: 1px;
          line-height: 36px;
        }
      }
      .price {
        font-family: CormorantGaramond;
        color: @hv-color;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 30px;
      }
    }
    &:hover .add-pro {
      opacity: 1;
      bottom: 0;
      transition: 0.75s;
    }
  }
}

.blogs {
  background: @bg-section;
  padding: 110px 0 100px 0;
  position: relative;
  .title-blogs {
    position: absolute;
    top: -66px;
    left: 50%;
    transform: translateX(-50%);
    h2 {
      font-family: CormorantGaramond;
      font-size: 56px;
      line-height: 28px;
    }
  }
  .blogs-all {
    &__item {
      &--img {
        overflow: hidden;
      }
      &--content {
        padding: 24px 41px 13px 34px;
        background: #fff;
        .blog-date a {
          text-transform: uppercase;
          color: #cccccc;
          font-size: 14px;
          font-family: FiraSans;
          letter-spacing: 1px;
          line-height: 24px;
        }
        .blog-title {
          padding: 18px 0 50px;
          a {
            font-family: CormorantGaramond;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 24px;
            line-height: 32px;
            color: @bg-footer;
          }
        }
        .blog-analytic {
          border-top: 1px solid #eeeeee;
          padding-top: 12px;
          .info {
            display: inline-block;
            line-height: 32px;
            font-size: 14px;
            color: @ct-color;
            padding-right: 23px;
            font-family: FiraSans;
            ion-icon {
              color: #92c5d9;
              padding-right: 6px;
            }
            a {
              ion-icon {
                color: #92c5d9;
                padding-right: 5px;
              }
            }
          }
          .info-like {
            a {
              color: @ct-color;
              font-family: FiraSans;
            }
          }
        }
      }
      :hover img {
        transform: scale(1.1);
        transition: 1s;
      }
      :hover .blog-title a {
        color: @hv-color;
      }
    }
  }
  .go-to-blog {
    text-align: center;
    padding-top: 70px;
    a {
      font-size: 24px;
      line-height: 28px;
      color: #3f3f3f;
      padding: 0 22px;
      font-family: CormorantGaramond;
      font-weight: 400;
      background: -webkit-linear-gradient(top, transparent 50%, #ffffff 50%);
    }
  }
}
.partner {
  &__all {
    padding: 33px 0px 19px;
    .partner__item {
      img {
        opacity: 30%;
        margin: 0 auto;
        &:hover {
          opacity: 100%;
        }
      }
    }
  }
}
