.footer {
  background-color: @bg-footer;
  &__top{
      padding: 50px 0;
      .logo-ft{
         width: 15%; 
      }
      .menu-ft{
        width: 70%;
          ul{
            padding-top: 90px;
            padding-left: 100px;
              li{
                float: left;
                padding: 0 20px;
                a{
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #ababab;
                    letter-spacing: 1px;
                    line-height: 24px
                }
              }
          }
      }
      .subcribe{
        margin-top: 86px;
        text-align: right;
        width: 15%;
          a{
            text-transform: uppercase;
            color: #ababab;
            border: 1px 1px 2px 1px;
            border: solid;
            border-bottom: 2px solid;
            padding: 6px 20px;
            font-size: 14px;
          }
      }
  }
  &__bottom {
    border-top: 1px solid rgba(36, 36, 36, 0.5);
    padding-top: 41px;
    padding-bottom: 41px;
    .copyright {
        width: 50%;
      color: @ft-color;
      &__content {
        p {
          line-height: 28px;
          margin: 0;
          a {
            color: @ft-color;
            :hover{color: @hv-color;}
          }
        }
      }
    }
    .text-right {
        width: 50%;
        text-align: right;
        .footer-social li {
            display: inline-block;
            a{
                border: 2px solid #4e4e4e;
                width: 46px;
                height: 34px;
                display: block;
                text-align: center;
                border-radius: 50%;
                font-size: 18px;
                padding-top: 11px;
                margin: -2px 0 0 5px;
                color: @ft-color;
                
            }
            :hover{background-color: @hv-color;}
            :hover a{color: @bg-footer;}
        }
    }
  }
}
