@media all and (max-width: 1200) {
  .header .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media all and (max-width: 1170) {

}
@media all and (max-width: 1024) {
  .header {
    .content-qc {
      .qc-caption {
        h2 {
          font-size: 65px;
          letter-spacing: 15px;
          line-height: 70px;

        }
      }
    }
  }
}
@media all and (max-width: 768) {
}
@media all and (max-width: 576) {
}
@media all and (max-width: 375) {
}
