@media all and (max-width: 1920px) {
  .container-fluid {
    max-width: 1750px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .banner {
    .title-section {
      p {
        margin: 0;
        font-size: 34px;
        line-height: 48px;
      }
    }
    &__around {
      &--item {
        img {
        }
      }
    }
    &__around2 {
      &--item {
        img {
        }
      }
    }
  }
  .product {
    padding-bottom: 90px;
    &__all {
    }
  }
}
@media all and (max-width: 1540px) {
  .container-fluid {
    max-width: 1360px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .header {
    background-position: center;
  }
  .banner {
    .title-section {
      padding: 100px 0;
    }
    &__around {
      .bn1 {
        width: 25%;
        .bn-pro-info {
          .bn-pro-info__name {
          }
          .bn-price {
          }
        }
      }
      .bn2 {
        width: 50%;
      }
      .bn3 {
        width: 25%;
        .bn-ct {
          position: absolute;
          bottom: 20%;
          left: 10%;
          width: 100%;
          padding: 0 15px;
          box-sizing: border-box;
          h4 {
            padding-bottom: 25px;
          }
          h3 {
            font-size: 50px;
          }
        }
      }
      &--item {
        .collap-sale {
          .s1 {
            font-size: 10px;
          }
          .s2 {
            font-size: 70px;
            margin: 15px;
          }
          h3 {
            padding-bottom: 10px;
            font-size: 12px;
            line-height: 10px;
          }
          .shop-now {
            line-height: 65px;
          }
        }
        .content-bn {
          h3 {
            font-size: 45px;
            line-height: 40px;
          }
        }
        img {
        }
      }
    }
    &__around2 {
    }
  }
}
@media all and (max-width: 1200px) {
  .header {
    height: 800px;
    background-size: cover;
    background-position: center;
    .header__top {
      .header__menu {
        .head-right {
          .nav-overlay {
            width: 40vw;
          }
        }
      }
    }
    .content-qc {
      top: 200px;
      .qc-caption {
        width: 70%;
        padding-left: 15px;
        h2 {
          font-size: 45px;
          line-height: 50px;
        }
      }
    }
    .social-right {
      ul {
        li {
          a {
            color: #000;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1170px) {
  .banner__around--item {
    height: auto;
  }
}
@media all and (max-width: 1024px) {
  .header {
    height: 800px;
    background-size: cover;
    background-position: center;
    .header__top {
      .header__menu {
        .head-right {
          .nav-overlay {
            width: 40vw;
          }
        }
      }
    }
    .content-qc {
      top: 200px;
      .qc-caption {
        width: 70%;
        padding-left: 15px;
        h2 {
          font-size: 45px;
          line-height: 50px;
        }
      }
    }
    .social-right {
      ul {
        li {
          a {
            color: #000;
          }
        }
      }
    }
  }
  .banner {
    .title-section {
      padding: 50px 0;
      width: 65%;
    }
    &__around {
      .bn1 {
        width: 25%;
        .bn-pro-info {
          .bn-pro-info__name {
          }
          .bn-price {
          }
        }
      }
      .bn2 {
        width: 50%;
      }
      .bn3 {
        width: 25%;
        .bn-ct {
          position: absolute;
          bottom: 20%;
          left: 10%;
          width: 100%;
          padding: 0 15px;
          box-sizing: border-box;
          h4 {
            padding-bottom: 15px;
          }
          h3 {
            font-size: 40px;
          }
        }
      }
      &--item {
        .collap-sale {
          .s1 {
            font-size: 10px;
          }
          .s2 {
            font-size: 70px;
            margin: 15px;
          }
          h3 {
            padding-bottom: 10px;
            font-size: 12px;
            line-height: 10px;
          }
          .shop-now {
            line-height: 65px;
          }
        }
        .content-bn {
          h3 {
            font-size: 45px;
            line-height: 40px;
          }
        }
        img {
        }
      }
    }
    &__around2 {
      width: 100%;
      display: flex;
      margin: 0 -15px 40px -15px;
      .bn4 {
      }
      .bn6 {
      }
      .bn5 {
        .bn-pro-info {
          .bn-pro-info__name {
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 20px;
          }
          .bn-price {
            font-size: 18px;
          }
        }
      }
    }
  }
  .product {
    padding-bottom: 50px;
    &__title {
      h3 {
        a {
        }
      }
      .view-more {
        display: none;
        bottom: -15px;
      }
    }
    .product__all--item {
      .pro-img {
        height: auto;
        .back-to-style {
          opacity: 1;
        }
        .next-to-style {
          opacity: 1;
        }
      }
    }
  }
  .blogs {
    padding: 70px 0 40px 0;
    .title-blogs {
      top: -50px;
      h2 {
        font-size: 37px;
      }
    }
    .blogs-all {
      &__item {
        &--img {
        }
        &--content {
          .blog-date a {
          }
          .blog-title {
            a {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
            }
          }
          .blog-analytic {
            .info {
              i {
              }
            }
            .info-like {
              a {
              }
            }
          }
        }
      }
      :hover img {
      }
      :hover .blog-title a {
      }
    }
    .go-to-blog {
      padding-top: 50px;
      a {
      }
    }
    .owl-nav {
      display: none;
    }
  }
  .footer {
    &__top {
      .logo-ft {
        width: 16%;
        text-align: right;
      }
      .menu-ft {
        width: 65%;
        ul {
          padding-left: 50px;
          li {
            padding: 0 8px;
          }
        }
      }
      .subcribe {
        width: 18%;
        text-align: center;
      }
    }
    &__bottom {
      .copyright {
        width: 50%;
      }
      .text-right {
        width: 50%;
      }
    }
  }
}
@media all and (max-width: 768px) {
  .header {
    height: 700px;
    background-size: cover;
    background-position: center;
    .header__top {
      .header__menu {
        .head-right {
          .nav-overlay {
            width: 40vw;
          }
        }
      }
    }
    .content-qc {
      top: 200px;
      .qc-caption {
        width: 85%;
        padding-left: 15px;
        h2 {
          font-size: 45px;
          line-height: 50px;
        }
      }
    }
    .social-right {
      ul {
        li {
          a {
            color: #000;
          }
        }
      }
    }
  }
  .banner {
    .title-section {
      padding: 100px 0;
    }
    &__around {
      .bn1 {
        width: 25%;
        .bn-pro-info {
          .bn-pro-info__name {
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 20px;
          }
          .bn-price {
            font-size: 18px;
          }
        }
      }
      .bn2 {
        width: 50%;
      }
      .bn3 {
        width: 25%;
        .bn-ct {
          position: absolute;
          bottom: 20%;
          left: 10%;
          width: 100%;
          padding: 0 15px;
          box-sizing: border-box;
          h4 {
            padding-bottom: 0px;
            font-size: 5px;
          }
          h3 {
            font-size: 25px;
          }
        }
      }
      &--item {
        .collap-sale {
          padding: 5px 10px 0;
          .s1 {
            font-size: 10px;
          }
          .s2 {
            font-size: 35px;
            margin: 15px;
          }
          h3 {
            padding-bottom: 10px;
            font-size: 12px;
            line-height: 10px;
          }
          .shop-now {
            line-height: 30px;
          }
        }
        .content-bn {
          h3 {
            font-size: 40px;
            line-height: 40px;
          }
        }
        img {
        }
      }
    }
    &__around2 {
    }
  }
  .product {
    padding-bottom: 50px;
    &__title {
      h3 {
        a {
          font-size: 45px;
        }
      }
      .view-more {
        display: none;
      }
    }
    &__all {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .product__all--item {
      width: 50%;
      .pro-img {
        height: auto;
        .back-to-style {
          opacity: 1;
        }
        .next-to-style {
          opacity: 1;
        }
        img {
          width: 100%;
        }
        .add-pro {
          display: none;
          .add-to-cart {
          }
        }
      }
    }
  }
  .footer {
    &__top {
      .logo-ft {
        width: 50%;
        text-align: right;
        order: 1;
      }
      .menu-ft {
        order: 3;
        width: 100%;
        margin-top: 30px;
        ul {
          padding-left: 0;
          padding-top: 0;
          li {
            padding: 0 8px;
          }
        }
      }
      .subcribe {
        order: 2;
        width: 50%;
        text-align: center;
      }
    }
    &__bottom {
      .copyright {
        width: 50%;
      }
      .text-right {
        width: 50%;
      }
    }
  }
}
@media all and (max-width: 576px) {
  .header {
    height: 700px;
    background-size: cover;
    background-position: center;
    .header__top {
      .header__menu {
        .head-right {
          .nav-overlay {
            width: 40vw;
          }
        }
      }
    }
    .content-qc {
      top: 110px;
      .qc-caption {
        width: 85%;
        padding-left: 15px;
        h2 {
          font-size: 45px;
          line-height: 50px;
        }
      }
    }
    .social-right {
      right: 15px;
      ul {
        li {
          a {
            color: #000;
          }
        }
      }
    }
  }
  .highlights {
    &__all {
      grid-template-columns: 1fr;
      &--item {
        border-left: 1px solid @bg-section;
        border-right: 1px solid @bg-section;
      }
    }
  }
  .banner {
    .title-section {
      padding: 30px 0;
      width: 90%;
    }
    &__around {
      display: contents;
      .bn1 {
        width: 100%;
        .bn-pro-info {
          .bn-pro-info__name {
            font-size: 24px;
            letter-spacing: 1px;
            line-height: 36px;
          }
          .bn-price {
            font-size: 24px;
          }
        }
      }
      .bn2 {
        width: 100%;
      }
      .bn3 {
        width: 100%;
        .bn-ct {
          h4 {
            font-size: 14px;
            letter-spacing: 3px;
            line-height: 24px;
          }
          h3 {
            font-size: 72px;
          }
        }
      }
      &--item {
        height: auto;
        padding: 0;
        margin-bottom: 15px;
        .collap-sale {
          top: 20px;
          padding-bottom: 0;
          .s1 {
            font-size: 10px;
          }
          .s2 {
            font-size: 40px;
          }
          h3 {
            padding-bottom: 10px;
            font-size: 12px;
            line-height: 10px;
          }
          a {
            line-height: 30px;
          }
        }
        .content-bn {
          width: 50%;
          h3 {
            font-size: 22px;
            line-height: 24px;
          }
          p {
            width: auto;
            font-size: 8px;
            letter-spacing: 1px;
            line-height: 15px;
            margin: 10px 3px;
          }
        }
        :hover img {
        }
        img {
          height: auto;
        }
      }
    }
    &__around2 {
      display: contents;
      .bn4 {
        width: 100%;
      }
      .bn5 {
        width: 100%;
        .bn-pro-info {
          .bn-pro-info__name {
            font-size: 24px;
            letter-spacing: 1px;
            line-height: 36px;
          }
          .bn-price {
            font-size: 24px;
            letter-spacing: 1px;
            line-height: 36px;
          }
        }
      }
      .bn6 {
        width: 100%;
      }
      &--item {
        height: auto;
        :hover img {
        }
        img {
          height: auto;
        }
      }
    }
  }
  .product {
    padding-bottom: 50px;
    &__title {
      h3 {
        a {
          font-size: 45px;
        }
      }
      .view-more {
        display: none;
      }
    }
    &__all {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    .product__all--item {
      width: 50%;
      .pro-img {
        height: auto;
        .back-to-style {
          opacity: 1;
        }
        .next-to-style {
          opacity: 1;
        }
        img {
          width: 100%;
        }
        .add-pro {
          display: none;
          .add-to-cart {
          }
        }
      }
    }
  }
  .blogs {
    padding: 70px 0 40px 0;
    .title-blogs {
      top: -50px;
      h2 {
        font-size: 37px;
      }
    }
    .blogs-all {
      &__item {
        &--img {
        }
        &--content {
          .blog-date a {
          }
          .blog-title {
            a {
            }
          }
          .blog-analytic {
            .info {
              i {
              }
            }
            .info-like {
              a {
              }
            }
          }
        }
      }
      :hover img {
      }
      :hover .blog-title a {
      }
    }
    .go-to-blog {
      padding-top: 0;
      a {
      }
    }
    .owl-nav {
      display: none;
    }
  }
  .footer {
    &__top {
      padding: 70px 0 30px;
      .logo-ft {
        width: 100%;
        text-align: center;
      }
      .menu-ft {
        width: 100%;
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;
          text-align: center;
          padding-top: 30px;
          padding-left: 0;
          li {
            a {
            }
          }
        }
      }
      .subcribe {
        margin-top: 40px;
        text-align: center;
        width: 100%;
        display: block;
        a {
        }
      }
    }
    &__bottom {
      .copyright {
        order: 2;
        padding: 0 15px;
        width: 100%;
        text-align: center;
        &__content {
        }
      }
      .text-right {
        order: 1;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        .footer-social {
          li {
            a {
              margin: -13px 20px 0 5px;
            }
          }
        }
      }
    }
  }
}
